:root {
  --primary-color: rgba(129, 40, 212, 0.945);
  --secondary-color: #552e5a;
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: #ecffa3;
  padding: 100px 20px;
}

h1 {
  color: var(--primary-color);
  font-family: "Dancing Script", cursive;
  font-size: 70px;
}

h2,
h3 {
  color: var(--secondary-color);
}
h3 {
  font-size: 35px;
  font-weight: 600;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

.hero {
  padding: 40px;
}

.btn {
  color: var(--secondary-color);
}

.btn-branding-outline {
  font-size: 18px;
  color: var(--secondary-color);
  background: #e7b6ee;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 23px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 30px;
  }
  body {
    padding: 30px 20px;
  }
  .btn-branding-outline {
  font-size: 15px;
}
